.head {
  margin-top: 30px;
  font-family: sans-serif;
  float: left;
  border-radius: 10px;
}

#image {
  border-radius: 20px;
  float: left;
}

.top-name {
  float: right;
}

.container-splash {
  margin-top: 50px;
}

.container {
  max-width: 1200px;
}

.caption {
  color: red;
  text-shadow: 2px;
  font-weight: bold;
}


<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#splash" data-slide-to="0" class="active"></li>
<li data-target="#splash" data-slide-to="1"></li>
<li data-target="#splash" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
