.head {
  margin-top: 30px;
  font-family: sans-serif;
  float: left;
  border-radius: 10px;
}

#image {
  border-radius: 20px;
  float: left;
}

.top-name {
  float: right;
}

.container-splash {
  margin-top: 50px;
}

.container {
  max-width: 1200px;
}

.caption {
  color: red;
  text-shadow: 2px;
  font-weight: bold;
}

.carousel {
  max-height: 100%;
}
